{% extends "layout.html" %}

{% block content %}
<h1>Contacts</h1>

<table>
<thead>
<tr>
<th>Name</th>
<th>Email</th>
</tr>
</thead>
<tbody>
{% for ticket in object_list %}
<tr>   
<td>{{ ticket.titulo_text }}</td>
<td>{{ ticket.chamados_date }}</td>   
<td>
<a class="btn btn-primary" href="{% url "tickets_detail" ticket.id  %}">details</a>
<a class="btn btn-primary" href="{% url "tickets_update"  ticket.id  %}">edit</a>
<a  href="{% url "tickets_delete"  ticket.id  %}">delete</a>
</td>
</tr>

{% endfor %}
</tbody>
</table>
 
{% endblock %}