{% extends "layout.html" %}

{% block content %}
<section class="login-card justify-content">
<div class="d-flex justify-content-center">
<div>
<h1>Resumo do Chamado</h1>
<p>Name: {{object.titulo_text}}</p>
<p>Name: {{object.descricao_text}}</p>
<p>Name: {{object.prioridade_text}}</p>
<p>Name: {{object.ticket_id}}</p>
<a class="btn btn-primary" href="{% url "tickets_detail" ticket.id  %}">details</a>
<a class="btn btn-danger" href="{% url "tickets_update"  ticket.id  %}">edit</a>
</div>
</div>
</section>
{% endblock %}